<!--admin.ejs-->
<table class="table">
    <% persons.forEach( function(model) { %>
    <tr>
        <td>
            <%= model.id %>
        </td>
        <td><a class="nav-item ns-link active" href="update/<%= model.id %> ">
                <%= model.patientName %>
        </td>
        <td>
            <a href="/person/delete/<%= model.id %>" class="btn btn-danger">delete</a>
        </td>
    </tr>
    <% }); %>

</table>