<!--create.ejs-->
<div class="row col-12">
    <br>
    <form action="/person/create" method="POST">
        <div class="row">
            <div class="form-group col-6">
                <label>Patient Name</label>
                <input type="text" class="form-control" name="Person[patientName]" required>
            </div>
            <div class="form-group col-6">
                <label>Patient Age</label>
                <input type="text" class="form-control" name="Person[age]" required>
            </div>
            <div class="col-6">
                <span>Smoking?</span>
                <select class="form-control" name="Person[smoking]">
                    <option value="nan">Please select a smoking:</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6">
                <span>Asthma?</span>
                <select class="form-control" name="Person[Asthma]">
                    <option value="nan">Please select a Asthma:</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6">
                <span>PAD?</span>
                <select class="form-control" name="Person[PAD]">
                    <option value="nan">Please select a PAD:</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
        
            <div class="col-6">
                <span>sizeOfTheOriginalTumour</span>
                <select class="form-control" name="Person[sixMonthsMI]">
                    <option value="nan">Please select a sixMonthsMI:</option>
                    <option value="1">11</option>
                    <option value="2">12</option>
                    <option value="3">13</option>
                    <option value="4">14</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

</div>
<script>
    $('.datepicker').datepicker({
        startDate: '-3d'
    });
</script>